:root {
    --main-bc-collor: #fff;
    /* --primary-color: #b963ef; */
    --primary-color: rgba(185, 99, 239, 1);
    --primary-color-transparent: rgba(185, 99, 239, 0.3);
    --primary-colorBG: #4a00789c;
    --primary-color-activ: #9e46d4;
    --secondary-color: rgba(30, 80, 30, 0.5);
	--secondary-color-transparent: rgb(156, 189, 156, 0.4);
    /* --tertiary-color: #f5f5f5; */
    --tertiary-color: rgba(0, 0, 0, 0.06);
    --main-font-text: "SF Display", sans-serif;
    --main-font-title: "SF Display", sans-serif;
    --block-indent: 64px;
    --main-btn-text-color: #b963ef;
    --main-btn-text-color-activ: #9e46d4;
    --border-radius: 8px;
    --main-font: "Cormorant Garamond", serif;
}